@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Light.IdentityServer</title>
</head>
<body>
    <div align="center">
        <h1>欢迎使用Light统一认证中心</h1>
    </div>
</body>
</html>