<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  autoReload="true" throwExceptions="true">
  <targets>
    <target name="log4file" xsi:type="File" fileName="${basedir}/Logs/${level}/${shortdate}.txt"
           layout="${callsite}|${longdate}|${level}|${message}" />

    <target name="log4database" xsi:type="Database">
      <connectionString>
        <!--Server=192.168.1.3\SQLEXPRESS;Initial Catalog=Light;User ID=sa;Password=sasa;  dbProvider="MySql.Data.MySqlClient.MySqlConnection, MySql.Data"-->
        Server=.;Initial Catalog=LightLog;User ID=sa;Password=wjg50058;
      </connectionString>
      <commandText>
        INSERT INTO Log
        (CreateDate, Message, Level) 
        VALUES(@createDate, @message, @level)
      </commandText>
      <parameter name="@createDate" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
    </target>
  </targets>

  <rules>
    <!--<logger name="*" levels="Trace,Error" writeTo="log4file" />

    <logger name="*" level="Info" writeTo="log4file" />-->

    <logger name="*" minlevel="Trace" writeTo="log4database" />
  </rules>
</nlog>